.sideCon {
  width: 391px;
  height: 900px;
  flex-shrink: 0;
  border-radius: 0px 32px 32px 0px;
  background: #ebf2f7;
  box-shadow: 0px 18px 88px -4px rgba(24, 39, 75, 0.14),
    0px 8px 28px -6px rgba(24, 39, 75, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.secOne {
  width: 278px;
  height: 77px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 18px 88px -4px rgba(24, 39, 75, 0.14),
    0px 8px 28px -6px rgba(24, 39, 75, 0.12);
  display: flex;
  align-items: center;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
.secOne span {
  margin: 1rem;
}

.secOne span > * {
  margin: 0;
}

.secOne img {
  width: 51px;
  height: 51px;
  flex-shrink: 0;
  border-radius: 51px;
}

.mainCon {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.secTwo {
  width: 278px;
  height: 161px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 18px 88px -4px rgba(24, 39, 75, 0.14),
    0px 8px 28px -6px rgba(24, 39, 75, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}

.secTwoIn {
  width: 215px;
  height: 78px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ebf2f7;
  box-shadow: 0px 18px 88px -4px rgba(24, 39, 75, 0.14) inset,
    0px 8px 28px -6px rgba(24, 39, 75, 0.12) inset;
}
.secTwoIn button {
  border: none;
  width: 50%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 0px 8px 8px 0px;
  box-shadow: 0px 18px 88px -4px rgba(24, 39, 75, 0.14) inset,
    0px 8px 28px -6px rgba(24, 39, 75, 0.12) inset;
}

.sec3 {
  width: 278px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 18px 88px -4px rgba(24, 39, 75, 0.14),
    0px 8px 28px -6px rgba(24, 39, 75, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec3 button {
  width: 229px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #a3ffd3;
  box-shadow: 0px 18px 88px -4px rgba(24, 39, 75, 0.14) inset,
    0px 8px 28px -6px rgba(24, 39, 75, 0.12) inset;
    border: none;
}
